[aws]
symbol = "  "

[c]
symbol = " "

[cmake]
symbol = " "

[directory]
read_only = " 󰌾"

[docker_context]
symbol = " "

[fossil_branch]
symbol = " "

[git_branch]
symbol = " "

[git_commit]
tag_symbol = '  '

[golang]
symbol = " "

[hostname]
ssh_symbol = " "

[java]
symbol = " "

[julia]
symbol = " "

[kotlin]
symbol = " "

[memory_usage]
symbol = "󰍛 "

[meson]
symbol = "󰔷 "

[nodejs]
symbol = " "

[os.symbols]
Alpine = " "
Amazon = " "
Arch = " "
CentOS = " "
Debian = " "
Fedora = " "
Linux = " "
Ubuntu = " "

[package]
symbol = "󰏗 "

[php]
symbol = " "

[python]
symbol = " "

[rust]
symbol = "󱘗 "

